<div class="view-box">
  <div class="main-content-box">
    <div class="header-table">
      <table>
        <thead>
          <tr #row>
            <td #column>Monday</td>
            <td>Tuesday</td>
            <td>Wednesday</td>
            <td>Thursday</td>
            <td>Friday</td>
            <td>Saturday</td>
            <td>Sunday</td>
          </tr>
        </thead>
      </table>
    </div>
    <div class="content-table">
      <table>
        <tbody>
        <tr *ngFor="let week of weeks">
          <td
            [style.height]="getHeightStyle()"
            *ngFor="let day of week"
            (dblclick)="dayDoubleClick(day)"
          >
            <div
              class="column-content"
              #parent
              [class.pale-date]="!dayInCurrentMonth(day)"
              [class.today-date]="isToday(day)"
              (click)="selectDay(day)"
            >
              <div *ngIf="isSelectedDay(day)" class="selected-date"></div>
              <span *ngIf="isFullDate(day); else default">{{ day | date:'MMM, d' }}</span>
              <ng-template #default>
                <span>{{ day | date:'d' }}</span>
              </ng-template>
              <div class="show-more-events-wrapper">
                <span
                  class="show-more-events"
                  *ngIf="eventsCountOnDay(day) > 4"
                  (click)="showMoreEventsClick(parent)"
                >...</span>
              </div>
            </div>
          </td>
          <div class="events-box" #eventsBox>
            <ng-container *ngFor="let event of events">
              <div
                #eventBoxWrapper
                *ngIf="eventOnTargetWeek(event, week[0])"
                class="event-box-wrapper"
                [attr.event-id]="event.id"
                [style.left]="getEventWeekDaysOffset(event, week[0])"
                [style.width]="getEventDurationForTargetWeek(event, week[0])"
                [style.top]="getEventTopOffset(event, eventBoxWrapper)"
              >
                <div
                  *ngIf="!eventBoxOverflowContainer(eventBoxWrapper, eventsBox)"
                  #eventBox
                  collectEventBox
                  [viewComponent]="this"
                  class="event-box"
                  [title]="getEventTitle(event)"
                  [attr.event-id]="event.id"
                  [class.event-box-margin-left]="eventStartedOnTargetWeek(event, week[0])"
                  [class.event-box-margin-right]="eventEndedOnTargetWeek(event, week[0])"
                  [style.background-color]="getEventColor(event)"
                  (mouseover)="eventBoxMouseOver(eventBox)"
                  (mouseleave)="eventBoxMouseLeave(eventBox)"
                  (dblclick)="eventBoxDoubleClick(event)"
                >
                  <span
                    [style.width]="getWidthForTextEventText()"
                  >({{ event.start | date:'HH:mm' }}) {{ event.name }}</span>
                </div>
              </div>
            </ng-container>
          </div>
        </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="panel-box">
    <sheduler-view-detalization
      [view]="getView()"
      [date]="day"
      [dateEvents]="eventsForSelectedDay"
      (eventClicked)="eventBoxDoubleClick($event)"
    ></sheduler-view-detalization>
  </div>
</div>
