<div class="month-view-box">
  <div class="header-table">
    <table>
      <thead>
        <tr>
          <td>Monday</td>
          <td>Tuesday</td>
          <td>Wednesday</td>
          <td>Thursday</td>
          <td>Friday</td>
          <td>Saturday</td>
          <td>Sunday</td>
        </tr>
      </thead>
    </table>
  </div>

  <div class="content-table">
    <table>
      <tbody>
        <tr *ngFor="let week of weeks">
          <td
            [style.height]="getHeightStyle()"
            *ngFor="let day of week"
          >
            <div
              class="column-content"
              [class.pale-date]="!dayInCurrentMonth(day)"
              [class.today-date]="isToday(day)"
            >
              <span>{{ day | date:'MMMM, d' }}</span>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>