<div class="month-view-box">
  <div class="header-table">
    <table>
      <thead>
        <tr>
          <td>Monday</td>
          <td>Tuesday</td>
          <td>Wednesday</td>
          <td>Thursday</td>
          <td>Friday</td>
          <td>Saturday</td>
          <td>Sunday</td>
        </tr>
      </thead>
    </table>
  </div>

  <div class="content-table">
    <table>
      <tbody>
        <tr *ngFor="let in of [1, 2, 3, 4, 5]">
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>