@import "../../../common_styles.scss";

.tools-box-wrapper {
	padding: 24px;
	padding-right: 0;
	padding-left: 0;
}

.tools-box {
	height: calc(100vh - #{2 * $padding + 1px});
	width: 256px;
	background: #fff;
	position: relative;
	background: rgb(235, 235, 235);
	transition: width 0.3s, opacity 0.3s;
}

.tools-box-hidden {
	width: 1px;
	opacity: 0;
}

.open-close-btn {
	font-size: 32px;
	position: absolute;
	right: 0;
	top: 0;
	transition: all 0.2s;
	cursor: pointer;
	user-select: none;

	&:hover {
		transform: scale(1.2, 1.2)
	}
}