@import "../common_styles";

$invalid-color: #ff2925;

.modal {
  width: calc(100vw * 0.4);
  background: #e7e7e7;
  border-radius: 2px;
  font-size: 20px;
  user-select: none;
}

.modal-header {
  font-size: 24px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid $border-color;

  span {
    margin: 8px 16px;
  }
}

.modal-footer {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid $border-color;
}

.close-btn {
  cursor: pointer;
  transition: all 0.1s;

  &:hover {
    transform: scale(1.2, 1.2);
  }
}

input {
  display: block;
  height: 32px;
  width: 100%;
  outline: none;
  border: none;
  background: #00000000;

  border-bottom: 1px solid $border-color;
  padding: 8px 4px;
  font-size: 20px;

  &:focus {
    border-bottom: 1px solid #000;
  }

  &::selection {
    color: #fff;
    background: #ff5a5a;
  }

  &[type="color"] {
    border-bottom: none;
  }
}

.form-controls-box {
  margin: 32px;
  display: flex;
  flex-direction: column;
}

.form-control-wrapper {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: baseline;
}

.form-control-container {
  display: flex;
}

.label-box {
  width: 20%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0 16px 0 0;
}

.input-box {
  width: 80%;
}

.form-control-invalid {
  color: $invalid-color;
  margin: 4px 2px;
  font-size: 16px;
  height: 64px;
}

.btn-container {
  button {
    margin: 8px;
  }
}

.modal-btn {
  font-size: 16px;
  padding: 8px 12px;
  outline: none;
  border-radius: 2px;
  cursor: pointer;
  border: none;
  background: #bababa;
  transition: all 0.2s, opacity 0.4s;
  color: #303030;
  box-shadow: -2px 3px 6px 0px rgb(34 60 80 / 20%);

  &:hover:not(.modal-btn-disabled) {
    background: #aeaeae;
  }

  &:active:not(.modal-btn-disabled) {
    background: #9d9d9d;
  }
}

.modal-btn-red {
  background: #ff8686;
  color: #fff;

  &:hover:not(.modal-btn-disabled) {
    background: #ff5e5e;
  }

  &:active:not(.modal-btn-disabled) {
    background: #ff3b3b;
  }
}

.modal-btn-green {
  background: #69e347;

  &:hover:not(.modal-btn-disabled) {
    background: #53f622;
  }

  &:active:not(.modal-btn-disabled) {
    background: #36ff00;
  }
}

.modal-btn-disabled {
  cursor: default;
  opacity: 0.5;
}

.modal-confirm-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5000;
  background-color: rgba(128, 128, 128, 0.6);
}

.modal-confirm-container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
