<div class="view-box">
  <div class="main-content-box-day">
    <div class="header-table header-table-day">
      <table>
        <thead>
        <tr #row>
          <td #column>{{ hours[0] | date:'EEEE, dd MMM' }}</td>
        </tr>
        </thead>
      </table>
    </div>
    <div class="content-table content-table-day">
      <table>
        <tbody>
          <tr *ngFor="let hour of hours; index as idx">
            <td [ngStyle]="{'border-bottom': idx % 2 === 0 ? '1px solid #bbb' : '1px solid $border-color'}">
              <span *ngIf="idx !== 0 && idx % 2 === 0" class="time-text">
                {{ hour | date:'HH:mm' }}
              </span>

              <div class="events-box-day">
                <div class="event-box-day-wrapper">
                  <div class="event-box-day"></div>
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
