<ng-template #fullDaysTemplate>
  <div class="header-events-box" *ngIf="fullDayOpened">
    <div
      class="header-events-box-border"
      [style.height]="getFullDaysBorderHeight()"
    ></div>

    <ng-container *ngFor="let event of fullDayEvents; index as idx">
      <div
        [attr.border-none]="idx >= 2 && idx === fullDayEvents.length - 1"
        class="event-box-day-full-wrapper"
      >
        <div
          class="event-box-day-full"
          [style.background]="getEventColor(event)"
          (dblclick)="eventBoxDoubleClick(event)"
        >
          <span>{{ event.name }}</span>

          <div
            *ngIf="eventFallsOnPrevDay(event)"
            (click)="clickToPrevDay($event)"
            (dblclick)="$event.stopPropagation()"
            class="event-box-arrow event-box-arrow-left"
          >
            <img src="assets/event-arrow-icon.svg">
          </div>

          <div
            *ngIf="eventFallsOnNextDay(event)"
            (click)="clickToNextDay($event)"
            (dblclick)="$event.stopPropagation()"
            class="event-box-arrow event-box-arrow-right"
          >
            <img src="assets/event-arrow-icon.svg">
          </div>
        </div>
      </div>
    </ng-container>

    <div *ngIf="fullDayEvents.length === 0">
      <span class="day-full-empty-text">There are no events that last all day!</span>
    </div>
  </div>
</ng-template>

<ng-template #defaultTemplate>
  <div class="events-box-day">
    <ng-container *ngFor="let event of defaultEvents">
      <div
        *ngIf="eventTakingOnSelectedDay(event)"
        class="event-box-day-wrapper"
        [attr.event-id]="event.id"
        collectEventBox
        #wrapper
        [style.top]="getEventDayBoxTopHoursOffset(event)"
        [style.height]="getEventDayBoxHoursDuration(event)"
        [style.width]="getEventDayBoxWidth(event)"
        [style.left]="getEventDayBoxLeftOffset(wrapper)"
      >
        <div
          class="event-box-day"
          [title]="getEventTitle(event)"
          [style.background]="getEventColor(event)"
          (dblclick)="eventBoxDoubleClick(event)"
        >
          <span class="event-box-day-name">{{ event.name }}</span>

          <div
            *ngIf="eventFallsOnPrevDay(event)"
            (click)="clickToPrevDay($event)"
            (dblclick)="$event.stopPropagation()"
            class="event-box-arrow event-box-arrow-left"
            [attr.default-day]="wrapper.clientHeight >= service.headerRowHeight"
          >
            <img src="assets/event-arrow-icon.svg">
          </div>

          <div
            *ngIf="eventFallsOnNextDay(event)"
            (click)="clickToNextDay($event)"
            (dblclick)="$event.stopPropagation()"
            class="event-box-arrow event-box-arrow-right"
            [attr.default-day]="wrapper.clientHeight >= service.headerRowHeight"
          >
            <img src="assets/event-arrow-icon.svg">
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</ng-template>

<div class="view-box">
  <div class="main-content-box-day">
    <div class="header-table header-table-day">
      <table>
        <thead>
        <tr #row>
          <td [style.height]="getHeaderHeight()">
            <div class="header-box">
              <span class="header-date">{{ hours[0] | date:'EEEE, dd MMM' }}</span>

              <div class="header-open-close">
                <img
                  height="14px"
                  src="assets/open-close-icon.svg"
                  [attr.opened]="fullDayOpened"
                  (click)="fullDayOpened = !fullDayOpened"
                >
              </div>
            </div>

            <ng-container #fullDaysOutlet></ng-container>
          </td>
        </tr>
        </thead>
      </table>
    </div>

    <div
      #mainContent
      class="content-table content-table-day"
      [style.height]="getMainContentHeight()"
    >
      <table>
        <tbody>
          <tr *ngFor="let hour of hours; index as idx">
            <td
              (dblclick)="hourDoubleClick(hour)"
              [ngStyle]="{'border-bottom': idx % 2 === 0 ? '1px solid #bbb' : '1px solid $border-color'}"
            >
              <span *ngIf="idx !== 0" class="time-text">
                {{ hour | date:'HH:mm' }}
              </span>

              <span class="time-text time-text-half">
                {{ addHalfHour(hour) | date:'HH:mm' }}
              </span>
            </td>
          </tr>

          <ng-container #defaultOutlet></ng-container>
        </tbody>
      </table>
    </div>
  </div>
</div>
