@import "../../../../common_styles.scss";

.main-content-box-day {
  width: 100%;
}

.header-table-day {
  td {
    border-bottom: 1px solid $border-color;
  }
}

.content-table-day {
  td {
    vertical-align: middle;
    border-top: none;
    height: 2 * $header-row-height;
    overflow: visible;
  }

  tr {
    position: relative;

    &::after {
      top: $header-row-height;
      left: 0;
      position: absolute;
      content: '';
      width: 100%;
      border-bottom: 1px solid #3b0000;
    }
  }
}

$time-text-top-offset: -11px;

.time-text {
  top: $time-text-top-offset;
  left: 16px;
  font-size: 14px;
  position: absolute;
  border-radius: 2px;
  padding: 2px;
  color: #fff;
  background: rgb(124, 124, 124);
  z-index: 10000;
}

.time-text-half {
  top: $time-text-top-offset + $header-row-height;
  background: rgb(107, 107, 107);
}

.events-box-day {
  top: 0;
  left: 0;
  position: absolute;
  display: flex;
  width: 100%;
}

.event-box-day-wrapper {
  position: absolute;
  width: 100%;
  height: $header-row-height;
  display: flex;
  justify-content: flex-start;
  z-index: 5000;
}

.event-box-day {
  background: #ff9393;
  //border: 1px solid $border-color;
  height: 50%;
  width: 100%;
  //border-radius: 4px;
}
