@import "../../../../common_styles.scss";

.main-content-box-day {
  width: 100%;
}

.header-table-day {
  td {
    border-bottom: 1px solid $border-color;
  }
}

.content-table-day {
  td {
    vertical-align: middle;
    border-top: none;
    overflow: visible;
    transition: all 0.2s;
    height: 2 * $header-row-height;

    &:not(&[is-full-day]) {
      cursor: pointer;
    }

    &:hover:not(&[is-full-day]) {
      background: $default-table-hover-color;
    }

    &:active:not(&[is-full-day]) {
      background: $default-table-active-color;
    }

    &[is-full-day] {
      height: $header-row-height;
      border-left: none;
      border-right: none;
    }
  }

  tr {
    position: relative;

    &::after {
      top: $header-row-height;
      left: 0;
      position: absolute;
      content: '';
      width: 100%;
      border-bottom: 1px solid #d9d9d9;
    }
  }

  tbody {
    position: relative;
  }

  &[is-full-day=true] {
    border: 1px solid $border-color;
    border-top: none;
    background: $default-table-color;
  }
}

$time-text-top-offset: -11px;

.time-text {
  top: $time-text-top-offset;
  left: 16px;
  font-size: 14px;
  position: absolute;
  border-radius: 2px;
  padding: 2px;
  color: #fff;
  background: rgb(124, 124, 124);
  z-index: 10000;
}

.time-text-half {
  top: $time-text-top-offset + $header-row-height;
  background: rgb(107, 107, 107);
}

.events-box-day {
  top: 0;
  left: 0;
  position: absolute;
  display: flex;
  width: 100%;
}

.event-box-day-wrapper {
  position: absolute;
  width: 100%;
  height: $header-row-height;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 5000;
}

.event-box-day {
  border: 1px solid $border-color;
  height: calc(100% - 8px);
  width: calc(100% - 8px);
  transition: border 0.2s;
  border-radius: 4px;

  &:hover {
    border: 1px solid #000;
    cursor: pointer;
  }
}

.event-box-day-name {
  display: block;
  margin: 12px;
}

.center-box {
  align-items: center;
  justify-content: center;
  display: flex;

  button {
    margin-left: 24px;
  }
}

.full-day-empty-text {
  font-size: 36px;
  margin-top: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.event-box-day-full-wrapper {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.event-box-day-full {
  height: calc(100% - 8px);
  width: calc(100% - 8px);
  border: 1px solid $border-color;
  border-radius: 2px;
  display: flex;
  align-items: center;
  transition: all 0.2s;

  &:hover {
    border: 1px solid #000;
    cursor: pointer;
  }

  span {
    margin-left: 12px;
  }
}
