<div class="sheduler-box">
  <div class="view-box">
    <sheduler-date-switcher
      [view]="selectedView"
      [date]="selectedViewDate"
      (viewDateChanged)="viewDateChanged($event)"
      (viewChanged)="viewChanged($event)"
    ></sheduler-date-switcher>

    <ng-template #view>
      <ng-container [ngSwitch]="selectedView">
        <sheduler-month-view
          *ngSwitchCase="'Month'"
          [events]="events"
          [month]="selectedViewDate"
          [day]="selectedDate"
          (eventDoubleClicked)="eventDoubleClicked($event)"
          (dayDoubleClicked)="openCreateModal()"
          (dayChanged)="dayChanged($event)"
        ></sheduler-month-view>

        <sheduler-year-view
          *ngSwitchDefault
          [events]="events"
          [year]="selectedViewDate"
          [month]="selectedDate"
          (eventDoubleClicked)="eventDoubleClicked($event)"
          (monthDoubleClicked)="openCreateModal()"
          (monthChanged)="monthChanged($event)"
          (showMoreEventsClicked)="showMoreEventsClicked($event)"
        ></sheduler-year-view>
      </ng-container>
    </ng-template>

    <ng-container #outlet></ng-container>

    <div
      *ngIf="modalOpened"
      class="modal-overlay"
      (click)="modalCloseClicked()"
    >
      <div
        class="modal-container"
        (click)="$event.stopPropagation()"
      >
        <sheduler-event-modal
          [editMode]="modalEditMode"
          [editableEvent]="modalEditableEvent"
          [defaultDate]="selectedDate"
          (applyClicked)="modalApplyClicked($event)"
          (deleteClicked)="modalDeleteClicked($event)"
          (closeClicked)="modalCloseClicked()"
        ></sheduler-event-modal>
      </div>
    </div>
  </div>
</div>
