<div class="sheduler-box">
  <div class="view-box">
    <sheduler-date-switcher (viewDateChanged)="viewDateChanged($event)"></sheduler-date-switcher>

    <sheduler-month-view
      [events]="events"
      [date]="selectedViewDate"
      (eventDoubleClicked)="eventDoubleClicked($event)"
      (dayDoubleClicked)="dayDoubleClicked($event)"
    ></sheduler-month-view>

    <div
      *ngIf="modalOpened"
      class="modal-overlay"
      (click)="modalCloseClicked()"
    >
      <div
        class="modal-container"
        (click)="$event.stopPropagation()"
      >
        <sheduler-event-modal
          [editMode]="modalEditMode"
          [editableEvent]="modalEditableEvent"
          (applyClicked)="modalApplyClicked($event)"
          (closeClicked)="modalCloseClicked()"
        ></sheduler-event-modal>
      </div>
    </div>
  </div>
</div>
