<div class="sheduler-box">
  <div class="view-box">
    <sheduler-date-switcher (viewDateChanged)="viewDateChanged($event)"></sheduler-date-switcher>

    <ng-template #view>
      <sheduler-month-view
        [events]="events"
        [month]="selectedViewDate"
        [day]="selectedDay"
        (eventDoubleClicked)="eventDoubleClicked($event)"
        (dayDoubleClicked)="dayDoubleClicked($event)"
        (dayChanged)="dayChanged($event)"
      ></sheduler-month-view>
    </ng-template>

    <ng-container #outlet>
    </ng-container>
    <div
      *ngIf="modalOpened"
      class="modal-overlay"
      (click)="modalCloseClicked()"
    >
      <div
        class="modal-container"
        (click)="$event.stopPropagation()"
      >
        <sheduler-event-modal
          [editMode]="modalEditMode"
          [editableEvent]="modalEditableEvent"
          [defaultDate]="selectedDay"
          (applyClicked)="modalApplyClicked($event)"
          (closeClicked)="modalCloseClicked()"
        ></sheduler-event-modal>
      </div>
    </div>
  </div>
</div>
