<div class="wrapper">
  <div class="selected-day">
    <span>{{ day | date:'MMM, d' }}</span>
  </div>
  <div class="content">
    <div *ngIf="dayEvents.length === 0" class="events-empty">There are no events on this day!</div>

    <div
      *ngFor="let event of dayEvents"
      (click)="eventClick(event)"
      class="event-box"
    >
      <div class="event-name">
        <strong [style.color]="event.color">{{ event.name }}</strong>
      </div>
      <div class="event-duration">
        <div class="event-duration-section">
          <p>{{ event.start | date:'dd.MM.yy' }}</p>
          <p>{{ event.start | date:'HH:mm' }}</p>
        </div>

        <div class="event-duration-section">
          <p>{{ event.end | date:'dd.MM.yy' }}</p>
          <p>{{ event.end | date:'HH:mm' }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
