<div class="scheduler-box">
  <div class="view-box">
    <scheduler-date-switcher
      [view]="selectedView"
      [date]="selectedViewDate"
      (viewDateChanged)="viewDateChanged($event)"
      (viewChanged)="viewChanged($event)"
      (createEventClicked)="openCreateModal()"
    ></scheduler-date-switcher>

    <scheduler-day-view
      #dayViewComponent
      *ngIf="selectedView === 'Day'"
      [events]="events"
      [day]="selectedViewDate"
      [hour]="selectedDate"
      [fullDayOpened]="dayAndWeekLongEventsOpened"
      (eventDoubleClicked)="eventDoubleClicked($event)"
      (hourDoubleClicked)="openCreateModal()"
      (hourChanged)="hourChanged($event)"
      (dayChangeClicked)="viewDateChanged($event)"
      (openCloseClicked)="dayAndWeekLongEventsOpenClose($event)"
    ></scheduler-day-view>

    <scheduler-week-view
      #weekViewComponent
      *ngIf="selectedView === 'Week'"
      [events]="events"
      [week]="selectedViewDate"
      [fullWeekOpened]="dayAndWeekLongEventsOpened"
      (eventDoubleClicked)="eventDoubleClicked($event)"
      (hourDoubleClicked)="openCreateModal()"
      (hourChanged)="hourChanged($event)"
      (dayChangeClicked)="viewDateChanged($event)"
      (openCloseClicked)="dayAndWeekLongEventsOpenClose($event)"
    ></scheduler-week-view>

    <ng-template #view>
      <ng-container [ngSwitch]="selectedView">
        <scheduler-month-view
          *ngSwitchCase="'Month'"
          [events]="events"
          [month]="selectedViewDate"
          [day]="selectedDate"
          (eventDoubleClicked)="eventDoubleClicked($event)"
          (dayDoubleClicked)="openCreateModal()"
          (dayChanged)="dayChanged($event)"
          (showMoreEventsClicked)="showMoreEventsClicked($event)"
        ></scheduler-month-view>

        <scheduler-year-view
          *ngSwitchCase="'Year'"
          [events]="events"
          [year]="selectedViewDate"
          [month]="selectedDate"
          (eventDoubleClicked)="eventDoubleClicked($event)"
          (monthDoubleClicked)="openCreateModal()"
          (monthChanged)="monthChanged($event)"
          (showMoreEventsClicked)="showMoreEventsClicked($event)"
        ></scheduler-year-view>
      </ng-container>
    </ng-template>

    <ng-container #outlet></ng-container>

    <div
      *ngIf="modalOpened"
      class="modal-overlay"
      (click)="modalCloseClicked()"
    >
      <div
        class="modal-container"
        (click)="$event.stopPropagation()"
      >
        <scheduler-event-modal
          [editMode]="modalEditMode"
          [editableEvent]="modalEditableEvent"
          [defaultDate]="selectedDate"
          (applyClicked)="modalApplyClicked($event)"
          (deleteClicked)="modalDeleteClicked($event)"
          (closeClicked)="modalCloseClicked()"
        ></scheduler-event-modal>
      </div>
    </div>
  </div>
</div>
