<div class="modal">
  <div class="modal-header">
    <span>{{ editMode ? 'Edit' : 'Create' }} event</span>
    <span class="close-btn" (click)="closeClick()">x</span>
  </div>

  <div class="modal-content">
    <form *ngIf="form" [formGroup]="form">
      <div class="form-controls-box">
        <div class="form-control-wrapper">
          <div class="label-box">
            <label>Event name</label>
          </div>

          <div class="input-box">
            <input formControlName="name" type="text">
            <div class="form-control-invalid">
              <span *ngIf="form.controls.name.touched && form.controls.name.errors">Fill in this field!</span>
            </div>
          </div>
        </div>

        <div class="form-control-wrapper">
          <div class="label-box">
            <label>Start date</label>
          </div>

          <div class="input-box">
            <input (change)="updateEndDateValidation()" formControlName="start" type="datetime-local">
            <div class="form-control-invalid">
              <span *ngIf="form.controls.start.touched && form.controls.start.errors">Fill in this field!</span>
            </div>
          </div>
        </div>

        <div class="form-control-wrapper">
          <div class="label-box">
            <label>End date</label>
          </div>

          <div class="input-box">
            <input formControlName="end" type="datetime-local">
            <div class="form-control-invalid">
              <span *ngIf="form.controls.end.touched && form.controls.end.errors">
                {{ form.controls.end.errors.required ? 'Fill in this field!' : form.controls.end.errors.error }}
              </span>
            </div>
          </div>
        </div>

        <div class="form-control-wrapper">
          <div class="label-box">
            <label>Color</label>
          </div>

          <div class="input-box">
            <input formControlName="color" type="color">
          </div>
        </div>
      </div>
    </form>
  </div>

  <div class="modal-footer">
    <div class="btn-container">
      <button class="modal-btn modal-btn-red">Delete</button>
    </div>

    <div class="btn-container">
      <button
        class="modal-btn modal-btn-green"
        [class.modal-btn-disabled]="form.invalid"
        (click)="applyClick()"
      >{{ editMode ? 'Save' : 'Create' }}</button>

      <button class="modal-btn" (click)="closeClick()">Cancel</button>
    </div>
  </div>
</div>
