<div style="display: flex">
  <ng-container *ngFor="let day of weekDays; index as idx">
    <sheduler-day-view
      #dayComponent
      collectDayComponent
      [data]="{ component: dayComponent, collection: dayComponents }"
      [weekMode]="true"
      [dayIdx]="idx"
      [day]="day"
      [events]="events"
      [hour]="day"
      [weekScrollTop]="scrollTop"
      [fullDayOpened]="fullWeekOpened"
      (eventDoubleClicked)="eventDoubleClick($event)"
      (hourDoubleClicked)="hourDoubleClick($event)"
      (hourChanged)="hourChange($event)"
      (dayChangeClicked)="dayChangeClick($event)"
      (weekModeScroll)="tableOnScroll($event)"
      (openCloseClicked)="fullDayOpenCloseClicked($event)"
    ></sheduler-day-view>
  </ng-container>
</div>
