<ng-template #longDaysTemplate>
  <div *ngIf="fullWeekOpened" class="long-days-box-wrapper">
    <div class="long-days-box">
      <ng-container *ngFor="let event of events">
        <div
          class="long-day-event-box-wrapper"
          #eventBoxWrapper
          *ngIf="getLongEventWeekDaysLasts(event) !== 0"
          [attr.event-id]="event.id"
          [style.left]="calculateLongEventWeekLeft(event)"
          [style.width]="calculateLongEventWeekWidth(event)"
          [style.top]="calculateLongEventWeekTop(event, eventBoxWrapper)"
        >
          <div
            class="long-day-event-box"
            collectEventBox
            [viewComponent]="this"
            [attr.event-id]="event.id"
            [style.background-color]="getEventColor(event)"
            (dblclick)="eventDoubleClick(event)"
          >
            <span>{{ event.name }}</span>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</ng-template>

<div class="header-table">
  <table>
    <thead>
    <tr #row [style.height]="getHeaderHeight()">
      <td *ngFor="let day of weekDays; index as idx">
        <div class="header-box header-box-week">
          <span class="header-date">{{ day | date:'EEE, dd' }}</span>

          <div class="header-open-close">
            <img
              *ngIf="idx === 3"
              height="14px"
              src="assets/open-close-icon.svg"
              [title]="getOpenCloseTitle()"
              [attr.opened]="fullWeekOpened"
              (click)="fullWeekOpened = !fullWeekOpened"
            >
          </div>
        </div>
      </td>

      <ng-container #longDaysOutlet></ng-container>
    </tr>
    </thead>
  </table>
</div>

<div class="main-content-week">
  <div *ngFor="let day of weekDays; index as idx">
    <sheduler-day-view
      #dayComponent
      collectDayComponent
      [data]="{ component: dayComponent, collection: dayComponents }"
      [weekMode]="true"
      [dayIdx]="idx"
      [day]="day"
      [events]="events"
      [hour]="day"
      [weekScrollTop]="scrollTop"
      [fullDayOpened]="fullWeekOpened"
      (eventDoubleClicked)="eventDoubleClick($event)"
      (hourDoubleClicked)="hourDoubleClick($event)"
      (hourChanged)="hourChange($event)"
      (dayChangeClicked)="dayChangeClick($event)"
      (weekModeScroll)="tableOnScroll($event)"
      (openCloseClicked)="fullDayOpenCloseClicked($event)"
    ></sheduler-day-view>
  </div>
</div>
