@import "../../../common_styles.scss";

.switch-btn {
  font-size: 32px;
  user-select: none;
  margin-right: 4px;
  cursor: pointer;
  opacity: 0.6;
  transition: all 0.2s;

  background: no-repeat center url("../../../../../assets/down-arrow-icon.svg");
  min-width: 24px;
  min-height: 24px;

  &:hover {
    opacity: 1;
  }

  &:nth-child(2) {
    transform: rotate(180deg);
  }
}

.date-switcher-wrapper {
  padding: 24px;
  padding-bottom: 0;
}

.date-switcher {
  height: $header-row-height;
  background: $default-table-color;
  border: 1px solid $border-color;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 22px;
}

.date-group {
  display: flex;
  width: 200px;
  white-space: nowrap;
  text-align: left;
  vertical-align: middle;
  align-items: center;
}

.calendar-icon {
  background: no-repeat left url("../../../../../assets/calendar-icon.svg");
  width: $header-row-height;
  height: $header-row-height;
}

select {
  width: 100px;
  outline: none;
  font-size: 18px;
  border: 1px solid $border-color;
  background: $default-table-color;
}

.center-panel-btn {
  cursor: pointer;

  width: 120px;
  padding: 4px;
  font-size: 16px;
  border: 1px solid $border-color;
  border-radius: 2px;
  transition: all 0.2s;

  &:first-child {
    margin-right: 12px;
  }

  &:not(.select-current-date-locked) {
    &:hover {
      background: #a7a7a7;
      color: #fff;
      border-color: rgba(0, 0, 0, 0);
    }

    &:active {
      background: #8a8a8a;
      color: #fff;
      border-color: rgba(0, 0, 0, 0);
    }
  }
}

.select-current-date-locked {
  opacity: 0.4;
  cursor: default;
}
