<div class="date-switcher-wrapper">
  <div class="date-switcher">
    <div class="date-group">
      <div
        (click)="subDate()"
        class="switch-btn"
      ></div>
      <div
        (click)="addDate()"
        class="switch-btn"
      ></div>

      <ng-container [ngSwitch]="selectedView">
        <span *ngSwitchCase="'Month'">{{ selectedDate | date:'MMMM, YYYY' }}</span>
        <span *ngSwitchDefault>{{ selectedDate | date:'YYYY' }}</span>
      </ng-container>
    </div>

    <div class="date-group">
      <div class="calendar-icon"></div>
      <div>
        <select
          (change)="viewChange()"
          [(ngModel)]="selectedView"
        >
          <option *ngFor="let view of views">{{ view.toString() }}</option>
        </select>
      </div>
    </div>
  </div>
</div>
