<div class="date-switcher-wrapper">
  <div class="date-switcher">
    <div class="date-group">
      <div
        (click)="subDate()"
        class="switch-btn"
      ></div>
      <div
        (click)="addDate()"
        class="switch-btn"
      ></div>

      <ng-container [ngSwitch]="view">
        <span *ngSwitchDefault>{{ date | date:'dd MMM, YYYY' }}</span>
        <span *ngSwitchCase="'Month'">{{ date | date:'MMMM, YYYY' }}</span>
        <span *ngSwitchCase="'Year'">{{ date | date:'YYYY' }}</span>
      </ng-container>
    </div>

    <div class="center-box">
      <button
        [style.width]="'130px'"
        class="sheduler-btn"
        [disabled]="selectCurrentDateIsLocked()"
        (click)="selectCurrentDate()"
      >Current {{ view.toLowerCase() }}</button>

      <button
        [style.width]="'130px'"
        class="sheduler-btn"
        (click)="createEventClick()"
      >Create event</button>
    </div>

    <div class="date-group">
      <div class="calendar-icon"></div>
      <div>
        <select
          (change)="viewChange()"
          [(ngModel)]="view"
        >
          <option *ngFor="let view of views">{{ view.toString() }}</option>
        </select>
      </div>
    </div>
  </div>
</div>
