<div class="date-switcher-wrapper">
  <div class="date-switcher">
    <div class="date-group">
      <div
        (click)="subDate()"
        class="switch-btn"
      ></div>
      <div
        (click)="addDate()"
        class="switch-btn"
      ></div>

      <ng-container [ngSwitch]="view">
        <span *ngSwitchCase="'Month'">{{ date | date:'MMMM, YYYY' }}</span>
        <span *ngSwitchDefault>{{ date | date:'YYYY' }}</span>
      </ng-container>
    </div>

    <button
      class="select-current-date"
      [class.select-current-date-hidden]="selectCurrentDateIsHidden()"
      (click)="selectCurrentDate()"
    >Current {{ view.toLowerCase() }}</button>

    <div class="date-group">
      <div class="calendar-icon"></div>
      <div>
        <select
          (change)="viewChange()"
          [(ngModel)]="view"
        >
          <option *ngFor="let view of views">{{ view.toString() }}</option>
        </select>
      </div>
    </div>
  </div>
</div>
